<!--Section form for search parameters-->
{{#if loggedIn}}
<button type="button" id="workCreate" class="btn create">Add a Workout</button>

<!--Container for Location Cards-->
<section id="workContainer">
    {{#each workouts as |workout|}}
    <div class="workout text-center">
        <h3> Workout Name:{{workout.name}}</h3>
        <p> Weeday:{{workout.weekday}}</p>
        <p>Workout Type:{{workout.type}}</p>
        <p>Workout Weight:{{workout.workout_weight}}</p>
        <p>Workout Sets:{{workout.sets}}</p>
        <p>Workout Reps:{{workout.reps}}</p>
        <button class='{{workout.id}} update btn'>Update</button>
        <button class='{{workout.id}} delete btn'>Delete</button>
        {{/each}}
</section>
{{else}}
<h2>Please Login to the website to view/add/change your workouts!</h2>
{{/if}}
<script src="/javascript/workout.js"></script>